version: "3.8"

networks:
  cloud-public:
    external: true

services:
  cloudflared-tunnel:
    image: cloudflare/cloudflared
    command: tunnel run
    env_file: {{ distributed_storage_root }}/stack/cloudflared/.env
    deploy:
      replicas: 1
    networks:
      - cloud-public
