resource "proxmox_virtual_environment_vm" "{{ inventory_hostname_short }}" {
  vm_id     = {{ vm_id }}
  name      = "{{ inventory_hostname_short }}"
  node_name = "{{ proxmox_node }}"
  migrate = true // migrate the VM on node change
  tags = ["terraform", "homelab-builder"]

  stop_on_destroy = true

  clone {
    vm_id = proxmox_virtual_environment_vm.homelab-builder-{{ proxmox_node }}.id
  }

  initialization {
    datastore_id = "{{ proxmox_storage }}"
    interface    = "ide2"

    user_account {
      username = var.node_ssh_user
      keys = [trimspace(data.local_file.ssh_public_key.content)]
    }

    ip_config {
      ipv4 {
        address = "{{ ansible_host }}/24"
        gateway = var.node_network_gateway
      }
    }
  }

  network_device {
    bridge      = "vmbr0"
    mac_address = "{{ mac }}"
  }

  disk {
    datastore_id = "{{ proxmox_storage }}"
    size         = var.node_disk1_size
    file_format  = "raw"
    interface    = "scsi1"
  }
}
