version: "3.8"

services:
  # Homepage
  overseerr:
    image: "ghcr.io/gethomepage/homepage:{{ services.homepage.version }}"
    volumes:
      - {{ storage.root_dir }}/appdata/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    env_file: {{ storage.root_dir }}/stack/homepage/.env
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=cloud-public"
        # HTTP Routers
        - "traefik.http.routers.homepage-rtr.entrypoints=websecure"
        - "traefik.http.routers.homepage-rtr.rule=Host(`$DOMAIN_NAME`)"
        # HTTP Services
        - "traefik.http.routers.homepage-rtr.service=homepage-svc"
{% if services.homepage.auth_enabled %}
        - "traefik.http.routers.homepage-rtr.middlewares=middlewares-authentik@file"
{% endif %}
        - "traefik.http.services.homepage-svc.loadbalancer.server.port=3000"
    networks:
      - cloud-public

networks:
  cloud-public:
    external: true
