version: "3.8"

services:
  # Gitea - Self hosted git project hosting
  server:
    image: "docker.io/gitea/gitea:{{ service_config.version.gitea }}"
    volumes:
      - {{ storage.root_dir }}/appdata/gitea/server-data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    env_file: {{ storage.root_dir }}/stack/gitea/.env
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=cloud-public"
        # HTTP Routers
        - "traefik.http.routers.gitea-rtr.entrypoints=websecure"
{% if service_config.public %}
        - "traefik.http.routers.gitea-rtr.rule=Host(`{{ service_config.domain }}`)"
{% else %}
        # Private service, only accessible via VPN with DNS configured
        - "traefik.http.routers.gitea-rtr.rule=Host(`{{ service_config.domain }}`) && {{ private_service_rule }}"
{% endif %}
        # HTTP Services
        - "traefik.http.routers.gitea-rtr.service=gitea-svc"
{% if service_config.auth_enabled %}
        - "traefik.http.routers.gitea-rtr.middlewares=middlewares-authentik@file"
{% endif %}
        - "traefik.http.services.gitea-svc.loadbalancer.server.port=3000"
#        # SSH connectivity @TODO
#        - "traefik.tcp.routers.gitea-ssh.entrypoints=ssh"
#        - "traefik.tcp.routers.gitea-ssh.rule=HostSNI(`*`)"
#        - "traefik.tcp.services.gitea-ssh.loadbalancer.server.port=22"
    networks:
      - cloud-public
      - gitea

  db:
    image: "docker.io/library/postgres:{{ service_config.version.postgres }}"
    env_file: {{ storage.root_dir }}/stack/gitea/.env
    user: "{{ storage.owner }}:{{ storage.group }}"
    networks:
      - gitea
    volumes:
      - {{ storage.root_dir }}/appdata/gitea/postgresql-data:/var/lib/postgresql/data

networks:
  cloud-public:
    external: true
  gitea:
    driver: overlay
    attachable: true
