version: "3.8"

services:
  postgres:
    image: "postgres:{{ service_config.version.postgres }}"
    env_file: .env
    volumes:
      - {{ storage.root_dir }}/appdata/mealie/postgresql:/var/lib/postgresql/data
    networks:
      - mealie
  server:
    image: "ghcr.io/mealie-recipes/mealie:{{ service_config.version.mealie }}"
    env_file: .env
    volumes:
      - {{ storage.root_dir }}/appdata/mealie/app-data:/app/data/
      - {{ storage.root_dir }}/appdata/mealie/app-nltk-data:/app/nltk_data/
    networks:
      - cloud-public
      - mealie
    deploy:
      replicas: 1
      resources:
        limits:
            memory: 512M
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=cloud-public"
        # HTTP Routers
        - "traefik.http.routers.mealie-rtr.entrypoints=websecure"
{% if service_config.public %}
        - "traefik.http.routers.mealie-rtr.rule=Host(`{{ service_config.domain }}`)"
{% else %}
        # Private service, only accessible via VPN with DNS configured
        - "traefik.http.routers.mealie-rtr.rule=Host(`{{ service_config.domain }}`)"
{% endif %}
        # HTTP Services
        - "traefik.http.routers.mealie-rtr.service=mealie-svc"
{% if service_config.auth_enabled and service_config.auth_app_settings.type == 'proxy' %}
        - "traefik.http.routers.mealie-rtr.middlewares=middlewares-authentik@file"
{% endif %}
        - "traefik.http.services.mealie-svc.loadbalancer.server.port=9000"

networks:
  cloud-public:
    external: true
  mealie:
    driver: overlay
    attachable: true