version: "3.8"

networks:
  cloud-public:
    external: true
  authentik:
    external: true

services:
  postgresql:
    image: "docker.io/library/postgres:{{ infrastructure_services.authentik.version.postgres }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - {{ storage.root_dir }}/appdata/authentik/database:/var/lib/postgresql/data
    deploy:
      mode: replicated
      replicas: 1
    env_file:
      - {{ storage.root_dir }}/stack/authentik/.env
    networks:
      - authentik
  redis:
    image: "docker.io/library/redis:{{ infrastructure_services.authentik.version.redis }}"
    command: --save 60 1 --loglevel warning
    deploy:
      mode: replicated
      replicas: 1
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - {{ storage.root_dir }}/appdata/authentik/redis:/data
    networks:
      - authentik
  server:
    image: "ghcr.io/goauthentik/server:{{ infrastructure_services.authentik.version.authentik }}"
    command: server
    volumes:
      - {{ storage.root_dir }}/appdata/authentik/media:/media
      - {{ storage.root_dir }}/appdata/authentik/custom-templates:/templates
    env_file: {{ storage.root_dir }}/stack/authentik/.env
    ports:
      - "9000:9000"
      - "9443:9443"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [ node.role == manager ]
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=cloud-public"
        # HTTP Routers
        - "traefik.http.routers.authentik-rtr.entrypoints=websecure"
        - "traefik.http.routers.authentik-rtr.rule=Host(`{{ infrastructure_services.authentik.domain }}`)"
        # HTTP Services
        - "traefik.http.routers.authentik-rtr.service=authentik-svc"
        - "traefik.http.services.authentik-svc.loadbalancer.server.port=9000"

        ## Individual Application forwardAuth regex (catch any subdomain using individual application forwardAuth)
        - "traefik.http.routers.authentik-output-rtr.rule=HostRegexp(`{subdomain:[a-z0-9-]+}.$$DOMAIN_NAME`) && PathPrefix(`/outpost.goauthentik.io/`)"
    networks:
      - cloud-public
      - authentik
  worker:
    image: "ghcr.io/goauthentik/server:{{ infrastructure_services.authentik.version.authentik }}"
    command: worker
    env_file: {{ storage.root_dir }}/stack/authentik/.env
    # `user: root` and the docker socket volume are optional.
    # See more for the docker socket integration here:
    # https://goauthentik.io/docs/outposts/integrations/docker
    # Removing `user: root` also prevents the worker from fixing the permissions
    # on the mounted folders, so when removing this make sure the folders have the correct UID/GID
    # (1000:1000 by default)
    user: root
    deploy:
      mode: replicated
      placement:
        constraints: [ node.role == manager ]
      replicas: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ storage.root_dir }}/appdata/authentik/media:/media
      - {{ storage.root_dir }}/appdata/authentik/certs:/certs
      - {{ storage.root_dir }}/appdata/authentik/custom-templates:/templates
    networks:
      - cloud-public
      - authentik