resource "proxmox_virtual_environment_download_file" "ubuntu_cloud_image-{{ inventory_hostname }}" {
  content_type        = "iso"
  datastore_id        = "{{ proxmox_iso_storage }}"
  node_name           = "{{ inventory_hostname }}"
  overwrite_unmanaged = true

  url = "https://cloud-images.ubuntu.com/{{ proxmox_vm_ubuntu_version }}/current/{{ proxmox_vm_ubuntu_version }}-server-cloudimg-amd64.img"
}

resource "proxmox_virtual_environment_vm" "homelab-builder-{{ inventory_hostname }}" {
  agent {
    enabled = true
  }

  node_name   = "{{ inventory_hostname }}"
  description = "Managed by Terraform/Homelab Builder"

  cpu {
    cores = "{{ proxmox_vm_cores }}"
  }

  disk {
    datastore_id = "{{ proxmox_iso_storage }}"
    file_id      = proxmox_virtual_environment_download_file.ubuntu_cloud_image-{{ inventory_hostname }}.id
    interface    = "scsi0"
    size         = {{ proxmox_vm_disk0_size }}
  }

  initialization {
    datastore_id = "{{ proxmox_iso_storage }}"
    interface    = "scsi4"

    dns {
      servers = ["1.1.1.1", "8.8.8.8"]
    }

    ip_config {
      ipv4 {
        address = "dhcp"
      }
    }
  }

  machine = "q35"
  vm_id   = {{ template_vm_id }}

  name      = "homelab-builder-{{ inventory_hostname }}"

  cdrom {
    enabled = true
    file_id = "none"
  }

  network_device {
    bridge = "vmbr0"
  }

  serial_device {}

  vga {
    type = "qxl"
  }

  template = true

  network_device {
    bridge = "vmbr0"
  }
}

