version: "3.8"

networks:
  cloud-public:
    external: true

services:
  traefik:
    image: "traefik:{{ recipes.traefik.version }}"
    env_file: "{{ distributed_storage_root }}/stack/traefik/.env"
    ports:
      # We expose the standard 80 and 443 ports via bridged mode so that local DNS can be setup (can connect to the
      # stack on your local network if configured in your DNS server without reaching out via the internet and tunnels).
      # This can cause problems with source IP's to be reported incorrectly, if so you can add the `mode: host`
      # attribute to both the 80 and 443 ports.
      - target: 80
        published: 80
        protocol: tcp
      - target: 443
        published: 443
        protocol: tcp
      # Traefik dashboard port exposed separately so it can be inspected from the local network
      - target: 8080
        published: 8080
        protocol: tcp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ distributed_storage_root }}/appdata/traefik/etc/traefik:/etc/traefik
      - {{ distributed_storage_root }}/appdata/traefik/data:/data
      - {{ distributed_storage_root }}/appdata/traefik/rules:/rules
      - {{ distributed_storage_root }}/appdata/traefik/logs:/logs
      - {{ distributed_storage_root }}/appdata/traefik/acme.json:/acme.json
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=cloud-public"

        # define traefik dashboard router and service
        - "traefik.http.routers.traefik-rtr.rule=Host(`traefik.$DOMAIN_NAME`)"
        - "traefik.http.routers.traefik-rtr.service=api@internal"
        - "traefik.http.routers.traefik-rtr.middlewares=middlewares-authentik@file"
        - "traefik.http.routers.traefik-rtr.entrypoints=websecure"
        - "traefik.http.services.traefik-svc.loadbalancer.server.port=9999"
      placement:
        constraints: [ node.role == manager ]
    networks:
      - cloud-public