version: "3.8"

services:
  # Overseerr - Movie/TV Requests
  overseerr:
    image: "sctx/overseerr:{{ recipes.overseerr.version }}"
    volumes:
      - {{ distributed_storage_root }}/appdata/overseerr:/app/config
    env_file: {{ distributed_storage_root }}/stack/overseerr/.env
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=cloud-public"
        # HTTP Routers
        - "traefik.http.routers.overseerr-rtr.entrypoints=websecure"
        - "traefik.http.routers.overseerr-rtr.rule=Host(`overseerr.$DOMAIN_NAME`)"
        # HTTP Services
        - "traefik.http.routers.overseerr-rtr.service=overseerr-svc"
        - "traefik.http.routers.overseerr-rtr.middlewares=middlewares-authentik@file"
        - "traefik.http.services.overseerr-svc.loadbalancer.server.port=5055"
    networks:
      - cloud-public

networks:
  cloud-public:
    external: true
